* {
    font-family: sans-serif;
}
a {
    color: #725794;
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}
h2,
span {
    transform: rotate(-2deg);
    background: #dd6418;
    padding: .5rem;
    color: #fff;
    
}
span {
    margin-left: -10px;
    font-weight: bold;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 15px;
    border-radius: .5rem;

    

}
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-color: #dd6418 #725794;
    scrollbar-width: thin;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 1em 5px 5px 5px;
    background: url(../img/bg-sky.jpg);
}

.searchBox {
    margin: 1em;
    width: 100%;
    display: flex;
    justify-content: center;    
}

#searchForm {
    width: 100%;
}

input, button {
    padding: 1em;
    border: none;
    border-radius: 8px;
}

.searchBox input {
    width: 63%;
    border-radius: 8px 0 0 8px;
    background: white;
    color: black;

}
.searchBox button {
    border-radius: 0 8px 8px 0;
    
}

button {
    background: #dd6418;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.allBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
}
.box, table {
    margin: 0 1em 1em 1em;
}
.box {
    /* margin: -1rem 0.8rem; */
    margin: 0.3rem 1rem;
    background: #ffffffbb;
    border-radius: 1.75rem;
    padding: 0 1em;
}
.box h2 {
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    /* position: relative;
    bottom: 1.8rem; */
}
.allItems {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.item{
    text-align: center;
    margin: 1em;
}
.item img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.item p {
    margin: 0;
}
.item a {
    font-size: .8rem;
    text-decoration: none;
    color: #725794;
    font-weight: bold;
    margin: 0;
    /* font-weight: 700; */
}
li {
    list-style: none;
    padding: 1em;
    border-radius: .5em;
}

footer {
    margin-top: 50px;
}